

    body{
        background:url("../images/wallpaper.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .menu{
        margin-top: 10px;
        width: 100%;
        background-color: rgba(24, 22, 22, 0.842);
        padding: 0;
    }
    .menu ul{
        margin-left: 50px;
        padding: 0;
        width: 80%;
    }
    .menu ul li{
        list-style-type: none;
        display: inline-block;
        padding: 10px;
        margin: 0;
        line-height: 50px;
        text-align: center;
    }
    .menu ul li a{
        width: 100px;
        text-decoration: none;
        font-size: 12px;
        padding: 2px;
        color: white;
        font-weight: bolder;
        display: block;
        border-radius: 20px;
        background-color: black;
    }
    .menu a:hover{
        color: burlywood;
        background-color: rgb(51, 48, 48);
        box-shadow: 0px 8px 8px 0px rgba(129, 111, 9, 0.199);
        transform: scale(1.1);
    }
    .container{
        background-color: rgba(0, 0, 0, 0.247);
        color: blanchedalmond;
        font-size: 18px;
        margin-bottom: 100px;

    }
    
    .game-link{
        margin-top: 50px;
    }
    .game-link:hover{
        transform: scale(1.2);
    }
    .gezi_resmi{
        width: 90%;
        align-items: center;
    }
    input[type="text"],input[type="email"],textarea{
        border-radius: 10px;
        background-color: rgba(95, 87, 17, 0.651);
        width: 60%;
        color: wheat;
        padding: 5px;
        margin: 20px;
    }
    textarea{
        border-radius: 10px;
        background-color: rgba(95, 87, 17, 0.651);
        width: 60%;
        color: wheat;
        padding: 15px;
        margin: 20px;
    }
    .radioo{
        margin: 35px auto;
        text-align: center;
        
    }
    select{
        border-radius: 10px;
        background-color: rgba(95, 87, 17, 0.651);
        color: wheat;

    }
    .geri-donus{
        text-align: center;
    }
    .text-a{
        margin: 20px;
        text-align: center;
    }
    .but div{
        display: flex;
        align-items: center;
    }
    input[type="submit"],input[type="reset"],input[type="date"],input[type="tel"],input[type="number"]{
        margin: 40px;
        color: wheat;
        background-color: rgba(95, 87, 17, 0.651);
        border-radius: 10px;
        width: 60%;
        
        
    }
    
    
    
    
    
    @media(max-width:930px){
        .menu{
            width: auto;
            float: left;
            padding: 20px;
            background:none;
        }
        .menu ul{
            margin-left: 10px;
        }
        .menu ul li{
            display: block;
        }
        iframe{
            width: 300px;
            height: 230px;
            
        }
        
        

    }


